/* .section {
} */

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1400px;
  margin: auto;
  padding: 20px;

  @media screen and (min-width: 1000px) {
    margin-top: 3vw;
  }
  /* outline: 1px solid pink; */
}

.skills {
  margin: auto;
  min-width: 280px;
  max-width: 360px;
  max-height: 80vh;
  /* border: 2px solid rgba(0, 0, 0, 0.4); */
  border-radius: 6px;
  overflow-y: scroll;
  padding: 16px;
  text-align: center;

  @media screen and (min-width: 710px) {
    height: 70vh;
  }
}

.title {
  margin: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
}

.titleWork {
  margin: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
}

.list {
  list-style: none;
  padding: 0;
}

.skill {
  padding: 10px;
  font-size: 20px;
  transition: font-size 200ms linear;
}

.icon {
  vertical-align: text-bottom;
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: transparent;
  transition: color 200ms linear;
}

.skill:hover {
  font-size: 0px;
}

.skill:hover .icon {
  color: black;
}

.works {
  text-align: center;
  margin: auto;
  width: 360px;
  min-height: auto;
  max-height: 80vh;
  /* border: 2px solid rgba(0, 0, 0, 0.4); */
  border-radius: 6px;
  padding: 16px;
  font-size: 20px;
  overflow-y: scroll;

  @media screen and (min-width: 710px) {
    width: 40vw;
    height: 70vh;
  }
}
