/* .section {
} */

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1400px;
  margin: auto;
  padding: 20px;

  @media screen and (min-width: 1000px) {
    margin-top: 3vw;
  }
  /* outline: 1px solid pink; */
}

.skills {
  margin: auto;
  min-width: 280px;
  max-width: 360px;
  max-height: 80vh;
  /* border: 2px solid rgba(0, 0, 0, 0.4); */
  border-radius: 6px;
  overflow-y: scroll;
  padding: 16px;
  text-align: center;

  @media screen and (min-width: 710px) {
    height: 70vh;
  }
}

.title {
  margin: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
}

.titleWork {
  margin: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
}

.workList,
.list {
  list-style: none;
  padding: 0;
}

.workList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.workItem {
  /* color: white; */
  cursor: pointer;
  margin: auto;
}

.webStudio,
.iceCream,
.movies,
.family,
.pets {
  padding-top: 40%;
  display: block;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  /* background-color: rgba(0, 0, 0, 0.6);  */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
}

.webStudio {
  background-image: linear-gradient(
      to bottom,
      rgba(207, 215, 255, 0.7),
      rgba(248, 235, 195, 0.7)
    ),
    url('../../img/webStudio.webp');
}
.iceCream {
  background-image: linear-gradient(
      to bottom,
      rgba(207, 215, 255, 0.7),
      rgba(248, 235, 195, 0.7)
    ),
    url('../../img/iceCream.webp');
}
.movies {
  background-image: linear-gradient(
      to bottom,
      rgba(207, 215, 255, 0.7),
      rgba(248, 235, 195, 0.7)
    ),
    url('../../img/movieland.webp');
}
.family {
  background-image: linear-gradient(
      to bottom,
      rgba(207, 215, 255, 0.7),
      rgba(248, 235, 195, 0.7)
    ),
    url('../../img/family.webp');
}
.pets {
  background-image: linear-gradient(
      to bottom,
      rgba(207, 215, 255, 0.7),
      rgba(248, 235, 195, 0.7)
    ),
    url('../../img/pets.webp');
}

.webStudio:hover,
.iceCream:hover,
.movies:hover,
.family:hover,
.pets:hover {
  color: transparent;
}

.webStudio:hover {
  background-image: url('../../img/webStudio.webp');
}
.iceCream:hover {
  background-image: url('../../img/iceCream.webp');
}
.movies:hover {
  background-image: url('../../img/movieland.webp');
}
.family:hover {
  background-image: url('../../img/family.webp');
}
.pets:hover {
  background-image: url('../../img/pets.webp');
}

.skill {
  padding: 10px;
  font-size: 20px;
  transition: font-size 200ms linear;
}

.icon {
  vertical-align: text-bottom;
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: transparent;
  transition: color 200ms linear;
}

.skill:hover {
  font-size: 0px;
}

.skill:hover .icon {
  color: black;
}

.works {
  text-align: center;
  margin: auto;
  width: 360px;
  min-height: auto;
  max-height: 80vh;
  /* border: 2px solid rgba(0, 0, 0, 0.4); */
  border-radius: 6px;
  padding: 16px;
  font-size: 20px;
  overflow-y: scroll;

  @media screen and (min-width: 710px) {
    width: 40vw;
    height: 70vh;
  }
}
