/* .section {
} */

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1400px;
  margin: auto;
  padding: 20px;

  @media screen and (min-width: 1000px) {
    margin-top: 3vw;
  }
  /* outline: 1px solid pink; */
}

.skills {
  margin: auto;
  min-width: 280px;
  max-width: 360px;
  max-height: 80vh;
  /* border: 2px solid rgba(0, 0, 0, 0.4); */
  border-radius: 6px;
  overflow-y: scroll;
  padding: 16px;
  text-align: center;

  @media screen and (min-width: 710px) {
    height: 70vh;
  }
}

.title {
  margin: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
}

.titleWork {
  margin: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
}

.workList,
.list {
  list-style: none;
  padding: 0;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
}

.workList {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  padding: 20px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.workItem {
  /* color: white; */
  cursor: pointer;
  margin: auto;
}

.webStudio,
.iceCream,
.movies,
.family,
.pets {
  padding-top: 66%;
  display: block;
  width: 140px;
  height: 140px;

  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;

  @media screen and (min-width: 860px) {
    width: 180px;
    height: 180px;
  }
}

.webStudio {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(173, 173, 173, 0.7)
    ),
    url('../../img/webStudioBW.webp');
}
.iceCream {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(173, 173, 173, 0.7)
    ),
    url('../../img/iceBW.webp');
}
.movies {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(173, 173, 173, 0.7)
    ),
    url('../../img/movieBW.webp');
}
.family {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(173, 173, 173, 0.7)
    ),
    url('../../img/familyBW.webp');
}
.pets {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(173, 173, 173, 0.7)
    ),
    url('../../img/petsBW.webp');
}

.webStudio:hover,
.iceCream:hover,
.movies:hover,
.family:hover,
.pets:hover {
  color: transparent;
}

.webStudio:hover {
  background-image: url('../../img/webStudio.webp');
}
.iceCream:hover {
  background-image: url('../../img/iceCream.webp');
}
.movies:hover {
  background-image: url('../../img/movieland.webp');
}
.family:hover {
  background-image: url('../../img/family.webp');
}
.pets:hover {
  background-image: url('../../img/pets.webp');
}

.skill {
  position: relative;
  padding: 10px;
  font-size: 20px;
  transition: color 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.icon {
  position: absolute;
  top: 10%;
  left: 40%;
  vertical-align: text-bottom;
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: transparent;
  transition: color 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.skill:hover {
  color: transparent;
}

.skill:hover .icon {
  color: black;
}

.works {
  text-align: center;
  margin: auto;
  width: 360px;
  min-height: auto;
  max-height: 80vh;
  /* border: 2px solid rgba(0, 0, 0, 0.4); */
  border-radius: 6px;
  padding: 16px;
  font-size: 20px;
  overflow-y: scroll;

  @media screen and (min-width: 710px) {
    width: 40vw;
    height: 70vh;
  }
}
