.container {
  position: relative;
}

.title {
  text-align: center;
  margin: 40px auto 0 auto;
  padding: 0 20px;
  max-width: 90vw;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.1rem;

  @media screen and (min-width: 860px) {
    margin-top: 50px;
    font-size: 22px;
    max-width: 600px;
  }

  @media screen and (min-width: 1100px) {
    margin-top: 60px;
    font-size: 26px;
    max-width: 900px;
  }
}

.picList {
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80vw;
  max-width: 1400px;
  height: fit-content;
  margin: 40px auto;
  gap: 10px;
  overflow: visible; /* Приховуємо невидимий контент */
  position: relative; /* Додаємо для контексту позиціювання */

  @media screen and (min-width: 1200px) {
    padding: 70px;
  }
}

.img {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 300px;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: visible; /* Дозволяємо вихід тіні за межі */
  position: relative; /* Додаємо для контексту позиціювання */
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img:hover,
.img:focus {
  cursor: crosshair;
  z-index: 1000;
  transform: scale(1.5);
  -webkit-box-shadow: 0px 0px 300px 150px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 300px 150px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 300px 150px rgba(0, 0, 0, 0.75);
}

