.container {
  position: relative;
  max-width: 1600px;
  margin: auto;
  padding: 20px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @media screen and (min-width: 1200px) {
    margin-top: 5vh;
    align-items: center;
  }
}

.portrait {
  display: inline-block;
  margin: 0;
  margin-top: 40px;
  width: calc(100vw / 3);
  height: calc((100vw / 3) * 1.5);

  background-image: url(../../img/aaa.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* outline: 1px solid black; */

  @media screen and (min-width: 768px) {
    width: calc(100vw / 4);
    height: calc((100vw / 4) * 1.5);
  }
}

.hi {
  margin: 80px auto 20px auto;
  font-size: calc(100vw / 10);
  font-weight: 600;
  transition: transform 250ms linear;
  /* outline: 1px solid black; */

  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
    font-size: 90px;
  }
}

.hi:hover {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1200ms;
  animation-duration: 1200ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.skills {
  width: fit-content;
}

.title, 
.biographyTitle {
  margin: 0;
  margin-bottom: 20px;
  font-size: calc(100vw / 14);
  font-weight: 600;

  @media screen and (min-width: 768px) {
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}


.biographyTitle {
  margin-top: 60px;
  text-align: center;

  @media screen and (min-width: 1100px) {
    margin-top: 140px;
    margin-bottom: 40px;
  }
}

.biographyWrapper {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  max-width: 80vw;
  margin: 0 auto;
  margin-bottom: 30px;

  @media screen and (min-width: 1100px) {
    align-items: flex-start;
    gap: 40px;
    max-width: 1200px;
  }
}

.period {
  max-width: 300px;

  @media screen and (min-width: 1100px) {
    max-width: 360px;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;

  @media screen and (min-width: 1100px) {
  }
}

.periodName{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.illustration{
  max-width: 50px;
  height: 50px;
}

.text {
  text-align: justify;

  @media screen and (min-width: 1100px) {
    font-size: 20px;
  }
}