.header {
  position: relative;
  display: flex;
  width: 90%;
  padding: 10px 100px;
  display: flex;
  align-items: center;
  gap: 5vw;
  border-bottom: dotted 2px rgba(0, 0, 0, 0.2);
}

.text {
  display: inline;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

.likeList {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.likeItem {
  font-size: 20px;
}

.link {
  font-weight: 800;
  padding: 6px;
  color: rgba(0, 0, 0, 0.3);
  transition: color 200ms linear;
}

.link:hover {
  color: black;
}

.current {
  color: black;
  font-weight: 800;
  padding: 6px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: border 200ms linear;
}

.current:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.homeIcon {
  display: inline;
  vertical-align: text-bottom;
  margin-right: 2vw;
}

.icon {
  margin-right: 8px;
  font-size: 1.2dvw;
  vertical-align: middle;
  transition: transform 200ms linear;
}

.icon:hover {
  transform: scale(1.2);
}
