.section {
  width: 100vw;
}

.title {
  text-align: center;
  margin: 40px auto 0 auto;
  padding: 0 20px;
  max-width: 90vw;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.1rem;

  @media screen and (min-width: 860px) {
    margin-top: 50px;
    font-size: 22px;
    font-weight: 600;
    max-width: 600px;
  }

  @media screen and (min-width: 1100px) {
    margin-top: 60px;
    font-size: 26px;
    font-weight: 800;
    max-width: 900px;
  }
}

.container {
  display: flex;
  flex-direction: column; 
  gap: 0px;
  max-width: 1200px;
  margin: auto;
  padding: 20px;

  @media screen and (min-width: 860px) {
    flex-direction: row; 
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 1000px) {
    margin: 2vw auto;
  }
}

.content {
  list-style: none;
  margin: auto;
  width: 100%; 
  max-width: 360px;
  height: fit-content;
  border: 2px solid rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  padding: 20px;
  text-align: center;

  @media screen and (min-width: 860px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    height: 70vh;
    margin: 0;
    max-width: 480px;
    padding: 30px;
  }

  @media screen and (min-width: 1000px) {
    max-width: 580px;
    padding: 80px 40px;
  }
}

.contentItem {
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all 200ms linear;
  margin-bottom: 10px;
  transform: scale(0.9);
  
  @media screen and (min-width: 800px) {
    padding: 4px 4px 0 4px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
  }

  @media screen and (min-width: 1000px) {
    font-size: 20px;
  }
}

.contentItem:focus,
.contentItem:active {
  transform: scale(1);
  font-weight: 800;
}

.contentItem:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);

  @media screen and (min-width: 1000px) {
    transform: scale(1.1);
  }
}

.current {
  cursor: pointer;
  padding: 4px 4px 0 4px;
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 800;
  border-bottom: 2px solid black;
  transition: all 200ms linear;

  @media screen and (min-width: 800px) {
    font-size: 20px;
  }
}

.oops {
  text-align: center;
  margin-top: 10vh;
}

.date {
  text-decoration: underline;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

.remark {
  font-style: italic;
  font-size: 14px;
  line-height: normal;
  color: rgba(0, 0, 0, 0.6);
}


.article {
  position: relative;
  margin: auto;
  width: 100%; /* Повна ширина для мобільних пристроїв */
  max-width: 360px;
  min-height: 30vh;
  height: fit-content;
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  padding-bottom: 30px;
  font-size: 16px;
  letter-spacing: 0.09rem;
  line-height: 1.6rem;
  overflow-y: scroll;

  @media screen and (min-width: 860px) {
    font-size: 18px;
    letter-spacing: 0.1rem;
    line-height: 1.8rem;
    max-width: 480px;
    height: 70vh;
    margin: auto 0;
    padding: 30px;
  }

  @media screen and (min-width: 1000px) {
    max-width: 580px;
  }

  animation: VerticalFlip 600ms ease-in-out;
}

@keyframes VerticalFlip {
}
